<!DOCTYPE html>
<html lang=en>
<head>
  <title>proto-typist</title>

  <%= render 'favicon' %>

  <link href='https://fonts.googleapis.com/css?family=Fira+Mono:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--   <div temp="header">
    &nbsp;
    <% if logged_in? %>
      <%= current_user.username %>
      <%= link_to "log out", session_url, method: :delete %>
    <% else %>
      <%= link_to "register", new_user_url %>
      <%= link_to "log in", new_session_url %>
    <% end %>
    &nbsp;
    <%= link_to "home", root_url %>
  </div>
  <br>
  <div temp="errors">
    <% if flash.is_a?(Array) %>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <br>
    <% end %>
  </div> -->

  <%= yield %>

</body>
</html>
